/* Base */
body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

@page {
    size: A4;
    margin-bottom: 80px;
    margin-top: 80px;
    @top-center {
        content: 'boop';
    }

    @bottom-center {
        content: 'biip';
    }
}

/* Page Separator */
.page-break {
    break-before: page;
    margin-top: 30px;
}

/* Languages & Fonts */

.font-1 {
    font-family: Playfair Display;
}

.font-2 {
    font-family: Tiro Devanagari Hindi;
}

.font-3 {
    font-family: Reem Kufi Ink;
}

.text-deco-1 {
    text-decoration-line: underline;
}

.text-deco-2 {
    text-decoration-line: overline;
    text-decoration-thickness: 2px;
    text-decoration-color: #10b981;
    color: rgb(225 29 72);
}

/* Tables */

table {
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0.9em;
}

thead tr {
    background-color: #e81c4f;
    color: #ffffff;
    text-align: center;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

th, td {
    padding: 0.1in 0.1in;
}